<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Pedido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

    <style>
        .Logo-container {
            background-color: #47bcff;
            color: white;
        }

        .Logo {
            font-family: "Handlee", "cursive";
            font-size: 2.5rem;
        }
    </style>

</head>

<body>

    <div class="Logo-container mb-3 p-3 d-flex justify-content-between mb-3">
        <span class="Logo">Mudi</span>
        <span class="mt-3">Login</span>
    </div>

    <div class="container">
        <div class="bg-light p-5">
            <h1 class="display-4">Novo Pedido</h1>
        </div>

        <div class="card mt-3">
            <form class="card-body" action="/pedido/novo" method="POST">
                <div class="form-group">
                    <label for="nomeProduto">Produto</label>
                    <input class="form-control" name="nomeProduto" placeholder="nome do produto" required="Obrigatório">
                    <small>Informe o nome do produto</small>
                </div>
                <div class="form-group">
                    <label for="urlImagem">Imagem</label>
                    <input class="form-control" name="urlImagem" placeholder="URL da imagem" required="">
                    <small>Copie a URL de uma boa imagem do produto e cole aqui para ajudar a conseguir
                        compradores</small>
                </div>
                <div class="form-group">
                    <label for="urlProduto">Url</label>
                    <input class="form-control" name="urlProduto" placeholder="URL do produto" required="">
                    <small>Procure em um site o produto que você deseja e cole a URL da página aqui</small>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" name="descricao"
                        placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </div>

            </form>
        </div>
    </div>

    </div>
</body>

</html>